<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--properties-->
    <context:property-placeholder location="jdbc-config.properties" file-encoding="utf-8"/>
    <!--datasource-->
    <bean name="datasource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="${local.mysql.url}"/>
        <property name="username" value="${local.mysql.username}"/>
        <property name="password" value="${local.mysql.password}"/>
        <property name="driverClassName" value="${local.mysql.driver}"/>
    </bean>
    <!--SqlSessionFactoryBean-->
    <bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="datasource"/>
        <property name="configLocation" value="mybatis-config.xml"/>
    </bean>
    <!--DatasourceTransactionManager-->
    <bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="datasource"/>
    </bean>
    <tx:annotation-driven/>
    <!--mapper scanner-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.mercymodest.mybatis.caching"/>
    </bean>
</beans>